<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Cenappi</a>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>
<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <i class="fa-solid fa-calendar-check me-3" aria-hidden="true"></i> <strong>Week</strong>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Ingredients">
                <i class="fa-solid fa-lemon me-3" aria-hidden="true"></i> <strong>Ingredients</strong>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Recipes">
                <i class="fa-solid fa-rectangle-list me-3" aria-hidden="true"></i> <strong>Recipes</strong>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="WeekConfigurator">
                <i class="fa-solid fa-cog me-3" aria-hidden="true"></i> <strong>Settings</strong>
            </NavLink>
        </div>
    </nav>
</div>
